body {
	margin: 2rem;
}

.margin {
	margin-bottom: 1rem;
}

g.node {
	cursor: pointer;
}
g.active {
	fill: red;
}

g.arrow {
	cursor: pointer;
}

marker.active {
	stroke: red;
	fill: red;
}
marker.nofill {
	fill: none;
}

path {
	stroke: black;
}

.active path {
	stroke: red;
}

.active {
	stroke: red;
}


text.node, text.arrow-label {
	text-anchor: middle;
	dominant-baseline: middle;
}

pre.tikz {
	border: none;
	background-color: white;
	color: black;
	font-size: 110%;
}
